@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}
.contenedor {
    max-width: 420px;
    width: 90%;
}
main {
    background: linear-gradient(to bottom, hsl(213, 19%, 16%) 30%, hsl(213, 19%, 12%) 100% );
}

.calificacion {
    color: hsl(25, 70%, 53%);
    background-color: hsl(213, 19%, 20%);
    display: inline-block;
    padding: 5px 10px;
    margin: 25px 0px 0px 0px;
    border-radius: 20px;
}